atribuicao/operadores_matematicos.c
.gitignore
desafio-cadastro-das-cartas-no-super-trunfo-Luizneto7-main/CartasSuperTrunfo.c
medias/calculador_de_media.exe
medias/calculador_de_media.c
if/estudos_if.exe
super_trunfo/superTrunfo.exe
super_trunfo/superTrunfo.c
olaMundo/programa.c
.gitignore
if/estudos_if.c
gerenciamento-inventario/inventario.exe
atribuicao/operadores_matematicos.exe
atribuicao/operadores_matematicos.c
atribuicao/operadores_matematicos.c
atribuicao/operadores_matematicos.c
atribuicao/operadores_matematicos.c
atribuicao/operadores_matematicos.exe
atribuicao/operadores_matematicos.c
super_trunfo/superTrunfo.c
super_trunfo/superTrunfo.exe
